{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <title>俺は誰か</blockquote></title>
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/"> </a>Who am I</a></a></h1>

        </div>

        <div>
            <p>published: 8.19.2022, 12:14</p>
            <h2><a href="https://www.instagram.com/accounts/login/?next=/ba__kura/">IG</a></h2>
            <p>見ていっておくれ</p>
        </div>

        <div class="post">
            <p>公開日: 8.19.2022, 15:14</p>
            <h2><a href="https://github.com/bakuracucina">github </a></h2>
            <p>ゴミカス</p>
        </div>
       
        <div>
            <p>公開日: 8.19.2022, 15:14</p>
            <h2><a href="https://www.strava.com/athletes/39848092">strava </a></h2>
            <p>ゴミカス</p>
        </div>

        <div>
            <p>IKEAの夏フェス食べ放題</p>
            <h2><a href="https://click.news.email.ikea.jp/?qs=37631ab9e1e80ef46657cacb4255e150702775e0b6a9639b3e23c319417ed4088dd601e1570a9da75d6fe1ac22492e4bd905d865169be56c6f2bb8ffdc6d05b8">IKEA大好き </a></h2>
            <p>安いから野菜カレーがおすすめ</p>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% for post in posts %}
                        <div class="post">
                            <div class="date">
                                <p>published: {{ post.published_date }}</p>
                            </div>
                            <h2><a href="">{{ post.title }}</a></h2>
                            <p>{{ post.text|linebreaksbr }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>
